{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <h1 class="mb-5">Des infos sur le snow? Bienvenue!</h1>

    {% if app.user %}
      <h2>Votre compte</h2>
      <h3 class="mb-2">Commentez, créer</h3>
      <div id="navigation_up_down_6427"><noscript>Javascript is disable - <a href="http://www.supportduweb.com/">http://www.supportduweb.com/</a> - <a href="http://www.supportduweb.com/generateur-boutons-navigation-haut-bas-scroll-defilement-racourcis-page-monter-descendre-up-down.html">Générateur de boutons de navigation</a></noscript><script type="text/javascript" src="http://services.supportduweb.com/navigation_up_down/4-6427-right.js"></script></div>
    {% endif %}

    {{ render(path('trick_index')) }}
    
{% endblock %}
