{% extends 'base.html.twig' %}

{% block title %}Changer votre mot de passe{% endblock %}

{% block body %}
    <h1>Changer votre mot de passe</h1>

    <div class="m-5">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <p id="reset">Choisisez un nouveau mot de passe et nous vous enverons un lien de changement.</p>

        <button class="btn btn-primary m-3">Revevoir l'email</button>
    {{ form_end(requestForm) }}
    <div>
{% endblock %}
