<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-between">
    {% for trick in tricks %}
        {{ include('trick/_unit.html.twig', {trick: trick}) }}
    {% else %}
        <div>
            No tricks
        </div>
    {% endfor %}
</div>